<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Varahi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div style="text-align: center; padding: 10px;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Project Varahi Logo" style="height: 400px; width: 400px; align: center;">
    </div>

    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li class="dropdown">
                <a href="/budget">BUDGET ▼</a>
                <ul class="dropdown-content">
                    <li><a href="/budget">Budget Overview</a></li>
                    <li><a href="/expense_tracker">Expense Tracker</a></li>
                </ul>
            </li>
            <li><a href="/banking">BANKING</a></li>
            <li><a href="/learning">LEARNING</a></li>
            <li><a href="/investments">INVESTMENTS</a></li>
            <li><a href="/profile">PROFILE</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
